@media (prefers-color-scheme: light){
}
@media (prefers-color-scheme: dark) {
        html{
                background:#222;
                color:#fff;
        }
        .menu-item{
                color:red;
        }
}

