:root{
    --background:#1C1C1C;
    --textcolor:#D9DBDA;
    --highlight:#85FCA7;
}
body{
    background-color:var(--background);
    color:var(--textcolor);
}
a{
    color:var(--hightlight);
}
.standard blockquote{
    border-left: 5px solid var(--highlight);
    font-family: monospace, monospace;
}
code.highlighter-rouge.language-plaintext{
    font-family: monospace, monospace;
    background-color:var(--background);
    color:var(--textcolor);
}
